body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin-top: 22px;
  margin-bottom: 22px;
}

.text-header {
  font-size: 19px;
}

.text-maxwell {
  font-family: 'MaxwellSmCaps2';
}

.text-purple {
  color: #93278f;
}

.text-blu {
  color: #29abe2;
}

.text-pink {
  color: #f42592;
}

.text-section {
  margin: 22px;
  font-size: 11px;
  font-family: 'Gotham';
}

.logos-section {
  margin-top: 22px;
  margin-bottom: 22px;
  height: auto;
}

.text-time {
  font-weight: bold;
  font-size: 13px;
}

.pad-10 {
  padding: 8px;
}
